*{
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    background-image: url('img/canada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header #menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
}

header #menu img{
    height: 70px;
}

header #menu h5{
    font-weight: 400;
    cursor: pointer;
}
header #menu h5:hover{
    color: #5ADBA8;
}

header h1{
    margin-top: 20%;
    font-size: 70px;
    text-align: center;
}

#sec1{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    font-family: 'Source Sans Pro', sans-serif;
}

.icones{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.icone{
    width: 250px;
    
}

section img{
    height: 150px;
    max-width: 25vw;
    cursor: pointer;
}


