*{
    margin: 0;
    padding: 0;
}

header{
    height: 83vh;
    background-image: url('img/angkor2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header #menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
}

header #menu img{
    height: 77px;
}

header #menu h5{
    font-weight: 400;
    cursor: pointer;
}
header #menu h5:hover{
    color: #5ADBA8;
}
#linhabrancaheader{
    width: 98.;
    background-color: white;
    height: 3px;
}
header h1{
    margin-top: 20%;
    font-size: 70px;
    text-align: center;
}

#sec1{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-family: 'Source Sans Pro', sans-serif;
}

header img{
    height: 150px;
    max-width: 25vw;
}

#nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#icones{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
}

.itens{
    height: 40%;
    width: 17%;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

section img{
    margin-top: 20%;
}

.itens:hover{
    border: 4px solid #5ADBA8;
    cursor: pointer;
}

section h2{
    margin: 10%;
}
section p{
    margin-top: 10%;
}






