*{
    margin: 0;
    padding: 0;
}

header{
    height: 83vh;
    background-image: url('img/angkor2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header #menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
}

header #menu img{
    height: 77px;
}

header #menu h5{
    font-weight: 400;
    cursor: pointer;
}
header #menu h5:hover{
    color: #5ADBA8;
}
#linhabrancaheader{
    width: 98.;
    background-color: white;
    height: 3px;
}
header h1{
    font-size: 130px;
    text-align: center;
    margin-top: 105px;
    font-weight: 600;
}

header h2{
    text-align: center;
}

#auto img{
    width: 250px;
    height: auto;
    background-color: #5ADBA8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left;
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 10%;
}

.itens h2{
    margin: 5px;
}

#taxi{
    margin-top: 10%;
    
}

#taxi img{
    float: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#rickshaw{
    margin-top: 10%;
}
#rickshaw img{
    width: 300px;
    height: 225px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left;
}
.linha{
    border: solid #5ADBA8 1px; 
    width: 10vw;
    margin-bottom: 60px;
    margin-top: 10px;
}