*{
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    background-image: url('img/angkor2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header #menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
}

header h1{
    font-size: 130px;
    text-align: center;
    margin-top: 105px;
    font-weight: 600;
}

header h2{
    text-align: center;
    margin-top: 105px;
    font-weight: 600;
}

header #menu img{
    height: 70px;
}

header #menu h5{
    font-weight: 400;
    cursor: pointer;
}
header #menu h5:hover{
    color: #5ADBA8;
}

section{
    margin-bottom: 10%;
}
form{
    font-size: 40pt;
    text-align: center;
    margin-top: 67px;
    font-weight: 600;
}
form input{
    height: 40px;
    width: 30vw;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
}
#enviar{
    text-decoration: none;
    border: none;
    background: none;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
}

#enviar:hover{
    color: #5ADBA8;
}

#opcoes{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
   
}
#opcoes h5{
    cursor: pointer;
}

#opcoes h5:hover{
    color: #5ADBA8;
}
